.container {
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  margin-bottom: 50px;
  h1 {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  .heading {
    border-color: #343539;
  }
}

.post {
  img {
    width: 100%;
    object-fit: fill;
  }
}
